# Feature Extraction

In [8]:
import os
import librosa
import pandas as pd
import numpy as np
from tqdm import tqdm

In [4]:
audio_df = pd.read_csv("audio_dataset.csv")
audio_df.head()

   actor gender  emotion                                    path
0      1   male  neutral  data/Actor_01/03-01-01-01-01-01-01.wav
1      1   male  neutral  data/Actor_01/03-01-01-01-01-02-01.wav
2      1   male  neutral  data/Actor_01/03-01-01-01-02-01-01.wav
3      1   male  neutral  data/Actor_01/03-01-01-01-02-02-01.wav
4      1   male     calm  data/Actor_01/03-01-02-01-01-01-01.wav

In [9]:
df = pd.DataFrame(columns=['mel_spectrogram'])

counter=0

for index,path in enumerate(audio_df.path):
    X, sample_rate = librosa.load(path, res_type='kaiser_fast',duration=3,sr=44100,offset=0.5)
    
    #get the mel-scaled spectrogram (ransform both the y-axis (frequency) to log scale, 
    #and the “color” axis (amplitude) to Decibels, which is kinda the log scale of amplitudes.)
    spectrogram = librosa.feature.melspectrogram(y=X, sr=sample_rate, n_mels=128,fmax=8000) 
    db_spec = librosa.power_to_db(spectrogram)
    
    #temporally average spectrogram
    log_spectrogram = np.mean(db_spec, axis = 0)
    df.loc[counter] = [log_spectrogram]
    counter=counter+1   

print(len(df))
df.head()

1440

                                     mel_spectrogram
0  [-76.386314, -76.386314, -76.386314, -76.38631...
1  [-75.3977, -75.54153, -75.61404, -74.98727, -7...
2  [-75.15178, -75.15178, -75.15178, -75.15178, -...
3  [-75.26952, -75.26952, -75.26952, -75.26952, -...
4  [-80.148125, -80.148125, -80.148125, -80.14812...

In [10]:
features = pd.DataFrame(df['mel_spectrogram'].values.tolist())
features = features.fillna(0)

In [11]:
features.head()

,0,1,2,3,4,5,6,7,8,9,...,249,250,251,252,253,254,255,256,257,258
0,-76.386314,-76.386314,-76.386314,-76.386314,-76.386314,-76.386314,-76.386314,-76.386314,-76.386314,-76.386314,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,-75.397697,-75.541527,-75.614037,-74.987267,-75.130745,-75.232170,-75.625504,-75.720787,-75.720787,-75.720787,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,-75.151779,-75.151779,-75.151779,-75.151779,-75.151779,-75.151779,-75.151779,-75.151779,-75.151779,-75.151779,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,-75.269524,-75.269524,-75.269524,-75.269524,-75.269524,-75.269524,-75.269524,-75.269524,-75.269524,-75.269524,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,-80.148125,-80.148125,-80.148125,-80.148125,-80.148125,-80.148125,-80.148125,-80.148125,-80.148125,-80.148125,...,-80.148125,-80.148125,-80.148125,-80.148125,-80.148125,-80.148125,-80.148125,-80.148125,-80.148125,-80.148125

In [12]:
features.to_csv('features.csv')